.carousel-item {
    height: 50vh;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-cta {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.price {
    color: #263238;
    font-size: 24px;
}

.card-title {
    color: #263238
}

.sale {
    color: #E53935
}

.sale-badge {
    background-color: #E53935
}


#img1 {
    background: no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    width: 100%;
    display: flex;
    object-position: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    background-attachment: fixed;
    background-position: center;
    padding-left: inherit;
    padding-top: -100px;
    margin-top: -150px;
}

#img2 {
    background: no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    width: 100%;
    display: flex;
    object-position: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    background-attachment: fixed;
    background-position: center;
    padding-left: inherit;
    padding-top: -100px;
    margin-top: -350px;
}

#img3 {
    background: no-repeat center center fixed;
    height: 85vh;
    background-size: cover;
    width: 100%;
    display: flex;
    object-position: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    background-attachment: fixed;
    background-position: center;
    padding-left: inherit;
    padding-top: -30px;
    margin-top: -210px;
}